$font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$primaryColor400: #7e57c2;
$primaryColor600: #5e35b1;
$primaryColor800: #4527a0;

$fontSizeSm: 1.2rem;
$fontSizeMd: 1.6rem;
$fontSizeLg: 2.1rem;
$fontSizeXl: 2.8rem;
$fontSizeXxl: 3.6rem;

$lineHeightSm: 1.1;
$lineHeightMd: 1.8;
