.login-button {
  border-radius: 0.4rem;
  //border: 1px solid;
  border: 2px solid rgba(0, 0, 0, 0.4);
  //color: #111;
  color: rgba(0, 0, 0, 0.6);
  display: inline-block;
  position: absolute;
  right: 0;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  padding: 1em 1.5em;
  text-decoration: none;
  transition: color 0.4s, background-color 0.4s, border 0.4s;
  &:hover {
    color: #000;
    border: 2px solid #000;
    transition: background-color 0.3s, color 0.3s, border 0.3s;
  }
}

@media screen and (max-width: 600px) {
  .login-button {
    letter-spacing: 0.01em;
    padding: 0.8em 0.5em;
  }
}
